*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, sans-serif;
    background: #11071F;

}

.main-container{

    color: white;
    text-align: center;

}


h1{

    font-size: 50px;
    margin-top: 15px;
    color: #a86bff;
    margin-bottom: 5%; 
}

.controls{

    display: flex;
    gap: 14px;
    justify-content: center;

}


.controls button{

    background: #151426;
    color: white;
    border: 1px solid #7f73f133;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;

}

.journey{

    margin-top: 12%;
    display: flex;
    gap: 28px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 50vw;

}

.journey::-webkit-scrollbar{

    display: none;

}

.card{

    min-width: 220px;
    background: #151426;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #7f73f133;
    transition: 0.3s ease;
    opacity: 0.4;
    transform: scale(0.9);

}

.card.active{

    opacity: 1;
    transform: scale(1.05);
    border-color: #a86bff;
    box-shadow: 0 0 20px #a86bff66;

}

time{

    color: white;
    font-size: 50px;
}


.journey-bar{

    width: 70%;
    height: 6px;
    background: #241b38;
    margin: 70px auto;
    border-radius: 10px;
    overflow: hidden;

}



.bar{

    height: 100%;
    width: 0;
    background: #a86bff;
}