*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, sans-serif;
    background: #11071F;

}

.main-container{

    color: white;
    text-align: center;

}


h1{

    font-size: 50px;
    margin-top: 15px;
    color: #a86bff;
    margin-bottom: 5%; 
}

.controls{

    display: flex;
    gap: 14px;
    justify-content: center;

}


.controls button{

    background: #151426;
    color: white;
    border: 1px solid #7f73f133;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;

}

.journey{

    margin-top: 12%;
    display: flex;
    gap: 28px;
    justify-content: center;

}

.card{

    min-width: 220px;
    background: #151426;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #7f73f133;

}

time{

    color: white;
    font-size: 50px;
}