*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, sans-serif;
    background: #11071F;

}

.main-container{

    color: white;
    text-align: center;

}


h1{

    font-size: 50px;
    margin-top: 15px;
    color: #a86bff;
    margin-bottom: 5%; 
}

.controls{

    display: flex;
    gap: 14px;
    justify-content: center;

}


.speed-control{

    display: flex;
    align-items: center;
    gap: 12px;
    background: #151426;
    border: 1px solid #7f73f133;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 19px;
}

#speedSlider{

    appearance: none;
    height: 4px;
    background: #241b38;
    border-radius: 10px;
    cursor: pointer;

}

#speedSlider::-webkit-slider-thumb{

    appearance: none;
    width: 16px;
    height: 16px;
    background: #a86bff;
    border-radius: 50%;
    box-shadow: 0 0 10px #a86bff;

}

.controls button{

    background: #151426;
    color: white;
    border: 1px solid #7f73f133;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;

}

.journey{

    margin-top: 6%;
    display: flex;
    gap: 28px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 45vw;

}

.journey::-webkit-scrollbar{

    display: none;

}

.card{

    min-width: 260px;
    background: linear-gradient(180deg, #1b1830, #141226);
    padding: 22px 16px;
    border-radius: 15px;
    border: 1px solid #7f73f133;
    transition: all 0.35s ease;
    opacity: 0.35;
    transform: scale(0.92);
    text-align: left;
    margin-bottom: 20px;

}

.card.active{

    opacity: 1;
    transform: scale(1.05) translateY(-6px);
    border-color: #a86bff;
    box-shadow: 0 -1px 30px #873fec65;

}

.card time{

    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #8367e9;
    margin-bottom: 12px;
    text-transform: uppercase;
    display: block;

}

.card h3{

    font-size: 18px;
    margin-bottom: 7px;
    color: white;

}

.card p{

    font-size: 15px;
    line-height: 1.4;
    color: #8f8bbd;
    font-weight: 500;
}


.card:hover{

    transform: scale(1.02);

}



.journey-bar{

    width: 70%;
    height: 6px;
    background: #241b38;
    margin: 70px auto;
    border-radius: 10px;
    overflow: hidden;

}



.bar{

    height: 100%;
    width: 0;
    background: #a86bff;
}

.siege-stats{

    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid #8367e9;
    margin: 50px auto;
    padding: 20px;
    max-width: 1100px;

}

.siege-stats h2{

    font-size: 40px;
    color: #a86bff;
    margin-top: 10px;
    margin-bottom: 15px;

}

.stats-top{

    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #8367e9;
    padding-bottom: 15px;

}

.stat{

    border: 2px solid #8367e9;
    padding: 20px;
    margin-bottom: 13px;

}

.stat .label{

    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.stat .value{

    font-size: 28px;
    font-weight: bold;
    color: #a86bff;

}

.siege-projects{

    padding: 30px auto;

}

.siege-projects h3{

    font-size: 30px;
    color: #a86bff;
    margin-bottom: 30px;

}

#projectsList{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.projects{

    border: 2px solid #8367e9;
    padding: 20px 10px;

}


.projects h4{

    font-size: 28px;
    font-weight: bold;
    color: #c9b768;
    margin-bottom: 14px;

}

.projects p{

    font-size: 20px;
    color: #d6d2ff;
    margin-bottom: 12px;

}

.projects p span{

    color: #a86bff;
    font-weight: bold;
    text-transform: capitalize;

}

.loading-page{

    position: fixed;
    width: 100%;
    height: 100%;
    background: #11071F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}


.loading-circle{

    width: 65px;
    height: 65px;
    border: 5px solid #4e1f90;
    border-radius: 50%;
    border-top-color: #A46CFF;
    animation: spin 1s linear infinite;

}


.loading-page p{

    margin-top: 20px;
    font-size: 22px;
    color: #A46CFF;
    font-weight: bold;

}

@keyframes spin{
    from{ 
        transform: rotate(0deg);
    
    }
    to{ 
        transform: rotate(360deg);
    }
}


.loading-page.hide{

    display: none;

}