*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, sans-serif;
    background: #11071F;

}

.main-container{

    color: white;
    text-align: center;

}


h1{

    color: #a86bff;
    margin-bottom: 5%; 
}

.controls{

    display: flex;
    gap: 14px;
    justify-content: center;

}


.controls button{

    background: #151426;
    color: white;
    border: 1px solid #7f73f133;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;

}
