*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, sans-serif;
    background: #11071F;

}

header{

    padding: 15px  10px;
    background-color: #1A0B2E;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;

}


nav a{

    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.home{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.home-content h1{


    color: white;
    font-size: 60px;
}


.home-content h1 span{

    color: #7127BA;

}
