*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{

    scroll-behavior: smooth;
}

body{

    font-family: Arial, sans-serif;
    background: #11071F;

}

header{

    padding: 15px  10px;
    background-color: #1A0B2E;
    position: sticky;
    top: 0;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;

}


nav a{

    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.toggle{

    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    position: absolute;
    right: 20px;

}


.home{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-content{

    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

}


.home-text{

    max-width: 550px;
}

.home-text h1{


    color: white;
    font-size: 60px;
}


.home-text h1 span{

    color: #7127BA;

}


.home-text h2{

    margin-top: 12px;
    color: #8438ff;
    font-size: 27px;

}

.text{

    color: white;
    font-size: 22px;
    margin-top: 15px;

}

.home-buttons{

    margin-top: 30px;
    display: flex;
    gap: 25px;

}

.btn{

    padding: 12px 30px;
    background: #7127BA;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid transparent;

}

.btn:hover{

    background: transparent;
    border-color: #7127BA;
    box-shadow: 0 0 15px #7127BA;

}

.btn2{

    background: transparent;
    border: 2px solid #7127BA;
}


.btn2:hover{

    background: #7127BA;
    box-shadow: 0 0 15px #7127BA;


}


.home-image img{

    width: 380px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 25px #7127BA;

}

.about{
    padding: 100px 40px;

}

.about-content{

    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 80px;

}

.about-image img{

    width: 310px;
    border-radius: 20px;
    border: 3px solid #7127BA;
    box-shadow: 0 0 25px #7127BA;

}

.about-text h2{

    font-size: 45px;
    color: #7127BA;
    margin-bottom: 20px;

}

.about-text p{

    font-size: 22px;
    padding-bottom: 20px;
    color: white;
    line-height: 1.4;

}

.about-text span{

    color: #915aeb;
    font-weight: bold;

}


.skills{

    padding: 50px 20px;
}

.skills h2{
    font-size: 45px;
    text-align: center;
    margin-bottom: 70px;
    color: #7127BA;

}

.skills-content{

    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;

}

.skill{

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill img{

    width: 50px;
    height: 50px;

}

.skill .github-circle{

    padding-top: 10px;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    margin-top: -12px;

}

.skill span{

    font-size: 23px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 10px;

}

.progress-div{

    width: 250px;
    align-items: center;

}

.progress-bar{

    flex: 1;
    height: 12px;
    background: #1A0B2E;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;

}

.progress{

    height: 100%;
    border-radius: 20px;
    background: linear-gradient(90deg, #A46CFF, #6E2CD3);

}

.percent{

    color: white;
    font-size: 18px;
    font-weight: bold;
}

.progress.html{ 

    width: 95%; 

}
.progress.css{ 
    width: 90%; 

}


.progress.js{ 

    width: 80%; 
}

.progress.react{ 

    width: 70%; 


}

.progress.tailwind{ 

    width: 85%;

}
.progress.github{ 

    width: 75%;

}


.projects{

    padding: 50px 20px;

}

.projects h2{

    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    color: #7127BA;

}

.project-content{

    max-width: 1130px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.slider-view{

    overflow: hidden;
    width: 100%;

}


.slider-row{

    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
    height: 320px;
    margin: 25px;
    padding: 30px 0;

}

.project-card{

    background: #1A0B2E;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
    flex: 0 0 300px;
    opacity: 0.5;
    transform: scale(0.8);

}

.project-card.active{

    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px #7127BA;

}

.project-card.active:hover{

    transform: scale(1.15) translateY(-10px);
    border-color: #A46CFF;
    box-shadow: 0 0 17px #A46CFF;

}

.project-card:hover{

    transform: translateY(-10px);
    border-color: #A46CFF;
    box-shadow: 0 0 15px #7127BA;
}

.project-img{

    width: 250px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 20px;

}


.project-card h3{
    font-size: 22px;
    color: #A46CFF;

}


.slider-btn{

    background: #7127BA;
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    margin: 20px;

}

.slider-btn:hover{

    background: #A46CFF;

}


.slider-dots{

    text-align: center;
    margin-top: 50px;

}


.slider-dots .dot{

    display: inline-block;
    width: 15px;
    height: 15px;
    background: #A46CFF;
    border-radius: 50%;
    margin: 0 6px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;

}

.slider-dots .dot.active{

    opacity: 1;
    transform: scale(1.3);
    box-shadow: 0 0 10px #7127BA;

}


.contact{

    padding: 50px 40px;
    margin-bottom: 55px;
}

.contact h2{

    font-size: 50px;
    text-align: center;
    color: #7127BA;
    margin-bottom: 60px;

}


.contact-content{

    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}


.contact-info h3{

    font-size: 35px;
    margin-bottom: 20px;
    color: #A46CFF;
}


.contact-info p{

    font-size: 18px;
    margin-bottom: 15px;
    color: white;
    line-height: 1.4;

}

.social-links{

    margin-top: 25px;
    display: flex;
    gap: 25px;
}

.social-links a{

    display: flex;
    align-items: center;
    gap: 5px;

}


.social-links .link{

    color: #A46CFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;

}

.social-links .link:hover{

    text-shadow: 0 0 10px #A46CFF;
}

.social-links .icon{

    width: 25px;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;

}

.social-links .github{

    background-color: white;
    border-radius: 50%;
    
}

.social-links .icon:hover{

    transform: scale(1.2);
}



.contact-form{

    background: #ffffff0d;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #8f53f067;
    box-shadow: 0 0 20px #a46cff73;

}


.contact-form input, .contact-form textarea{

    width: 100%;
    padding: 12px;
    margin-bottom: 17px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: #1A0B2E;
    color: white;
}


.contact-form button{
    width: 40%;
    padding: 13px 25px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: #7127BA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;

}

.contact-form button:hover{

    background: transparent;
    border-color: #7127BA;
    box-shadow: 0 0 15px #7127BA;

}


footer{
    background: #1A0B2E;
    padding: 20px 40px;
    border-top: 2px solid #A46CFF33;

}

footer p{

    font-size: 20px;
    color: white;

}

.footer-links{

    margin: 10px 0;
    text-align: center;

}

.footer-links a{

    margin-left: 20px;
    color: #A46CFF;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    font-size: 23px;

}

.footer-links a:hover{


    text-shadow: 0 0 10px #8452d4a2;
}

/* .footer-credit{

    margin-left: 930px;

} */

.footer-credit span{

    color: #7127BA;
    font-weight: bold;

}
