*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{

    font-family: Arial, sans-serif;
    background: #000000;

}

header{

    padding: 15px  10px;
    background-color: rgba(0, 255, 255, 0.521);
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;

}


nav a{

    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

